[Desktop Entry]
Version=1.0
Name=PiMakers
Comment=Program for storing and visualizing measurements made by PiMakers from Uppsala University.
Icon=/usr/share/pixmaps/pidgin-menu.xpm
Exec=python3 ~/.local/PiMakers/main.py
Path=~/.local/PiMakers
StartupNotify=true
Type=Application
Encoding=UTF-8
Terminal=true
Categories=Utility;Application;
